<div class='row'>
  <div class='col-sm-12'>
    <h1 class='d-inline'><%= @todo.title %></h1>
    <small>By <%= @todo.creator.try(:email) %></small>
  </div>
</div>

<div class='row'>
  <div class='col-sm-12'>
    <%= render 'comments/comments', comments: @comments, resource: @todo %>
  </div>
</div>

<div class='row'>
  <div class='col-md-12'>
    <hr >
    <div class='float-right'>
      <%= link_to 'Edit', edit_campaign_todo_path(@campaign, @todo) %> |
      <%= link_to 'Back', campaign_path(@campaign) %>
    </div>
  </div>
</div>
