<%= form_with(model: campaign, local: true) do |form| %>
  <% if campaign.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(campaign.errors.count, "error") %> prohibited this campaign from being saved:</h2>

      <ul>
      <% campaign.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, id: :campaign_title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :tags %>
    <%= form.text_field :tags, id: :campaign_tags, class: 'selectized-input' %>
  </div>

  <div class="form-group">
    <%= form.label :duration %>
    <%= form.number_field :duration, id: :campaign_duration, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
