<div class='row'>
  <div class='col-sm-12'>
    <h1 class='d-inline'><%= @campaign.title %></h1>
    <small>By <%= @campaign.creator.try(:email) %></small>
    <p>
      <%= distance_of_time_in_words(@campaign.duration) %>
      &nbsp; | &nbsp;
      <% @campaign.tags.split(',').each do |tag| %>
        <span class='badge badge-info'><%= tag %></span>
      <% end %>
    </p>
  </div>
</div>
<div class='row'>
  <div class='col-sm-6'>
    <%= render 'comments/comments', comments: @comments, resource: @campaign %>
  </div>
  <div class='col-sm-6'>
    <h5>Todos</h5>
    <%= render 'todos/form', todo: @campaign.todos.build, campaign: @campaign %>
    <ul class="list-group">
      <% @todos.each do |todo| %>
        <li class='list-group-item'>
          <span>
            <%= todo.title %>
          </span>
          <span class='float-right'>
            <!-- <%#= link_to 'Done', '#' %> |  -->
            <%= link_to 'View', campaign_todo_path(@campaign, todo) %>
          </span>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<div class='row'>
  <div class='col-md-12'>
    <hr >
    <div class='float-right'>
      <%= link_to 'New Todo', new_campaign_todo_path(@campaign) %> |
      <%= link_to 'Edit', edit_campaign_path(@campaign) %> |
      <%= link_to 'Back', campaigns_path %>
    </div>
  </div>
</div>
