<div class='row'>
  <div class='col-sm-12'>
    <h1 class='d-inline'><%= @campaign.title %></h1>
    <small>By <%= @campaign.creator.try(:email) %></small>
    <p>
      <%= distance_of_time_in_words(@campaign.duration) %>
      &nbsp; | &nbsp;
      <%= render 'tags', tags: @campaign.tags %>
    </p>
  </div>
</div>
<div class='row'>
  <div class='col-sm-6'>
    <%= render 'comments/comments', comments: @comments, resource: @campaign %>
  </div>
  <div class='col-sm-6'>
    <h5>Todos</h5>
    <%= render 'todos/todos', todos: @todos, campaign: @campaign %>
  </div>
</div>
<div class='row'>
  <div class='col-md-12'>
    <hr >
    <div class='float-right'>
      <%= link_to 'Edit', edit_campaign_path(@campaign) %> |
      <%= link_to 'Back', campaigns_path %>
    </div>
  </div>
</div>
