<p>
  <strong>Title:</strong>
  <%= @campaign.title %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @campaign.tags %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @campaign.duration %>
</p>

<p>
  <strong>User:</strong>
  <%= @campaign.creator_id %>
</p>

<%= link_to 'New Todo', new_campaign_todo_path(@campaign) %> |
<%= link_to 'Edit', edit_campaign_path(@campaign) %> |
<%= link_to 'Back', campaigns_path %>
