<% if user_signed_in? %>
  <li class='nav-item'><%= link_to "#{current_user.email} | #{current_user.role}", edit_user_registration_path, class: 'nav-link' %></li>
  <% if policy(User).index? %>
    <li class='nav-item'><%= link_to "All Novice Users", users_path, class: 'nav-link' %></li>
  <% end %>
  <li class='nav-item'><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete', class: 'nav-link' %></li>
<% else %>
  <li class='nav-item'><%= link_to 'Sign in', new_user_session_path, class: 'nav-link' %></li>
  <li class='nav-item'><%= link_to 'Sign up', new_user_registration_path, class: 'nav-link' %></li>
<% end %>
